<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <p v-bind:id="uuid" v-bind:class="name">{{ num }}</p>
        <!--  = <p id="abc1234" class="text-blue">{{ num }}</p> , v-bind는 속성 자체를 연결 -->
        <!-- 화면에서 id 변경 뿐만 아니라 DOM에서도 변경됨. 데이터만 조작했을 때 코드 변경 없이 사용 가능. -->
        <p>{{ doubleNum }}</p>
        <!-- v-if, else는 요소를 아예 사라지게 하지만, v-show는 요소를 육안상으로만 사라지게 하고 코드는 남아 있음(display : none; 형태로 들어감) -->
        <div v-if="loading">
            Loading...
        </div>
        <div v-else>
            test user has been logged in
        </div>
        <div v-show="loading">
            Loading...
        </div>
        <input type="text" v-model="message">
        <p>{{ message }}</p>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        new Vue({
            el: '#app',
            // 영역 안에 v- 가 붙는 순간 vue의 data나 computed 값을 찾게 됨.
            data: {
                num : 10,
                uuid: 'abc1234',
                name: 'text-blue',
                loading: true,
                message: '',
            },
            // 중요, 계산된 속성 - 특정 속성 값이 변하면 계산되어 같이 변함.
            computed: {
                doubleNum: function() {
                    return this.num * 2;
                }
            },
        })
    </script>
</body>
</html>